<% if report.records.size > 0 %>
<table class="<%= QueryReport.config.record_table_class %>" cellpadding="0" cellspacing="0">
  <thead>
    <% report.columns.each do |column| %>
      <% if column.visible?  %>
        <th >
          <%= 
          column.sortable? ? sort_link(report.search, column.sort_link_attribute, column.humanize, params, remote: @remote) : column.humanize 
          %>
      </th>
      <% end %>
    <% end %>
  </thead>

  <tbody>

  <%  before_value, value, idx,rowspan_value = nil,nil, 0, nil %>
  <% report.records_to_render.each_with_index do |record, index| %>

      <tr>
            <% report.columns.each do |column| %>
                <% if column.visible? %>
                    <% 
                      value = record[column.humanize]
                      align = column.align
                      align_attr = align ? "class=queryreport-td-align-#{align.to_s}" : ''
                    %>

                    <% if value.kind_of?(Hash) %>
                        <% rowspan_value = value[:content] %>
                        <td rowspan="<%= value[:rowspan] %>" <%= align_attr %> ><%= value[:content].pretty_type(column.get_type) %></td>
                    <% elsif record.has_key?(column.humanize) %>
                        <td <%= align_attr %>><%= value.pretty_type(column.get_type) %></td>
                    <% end %>

                <% end %>

            <% end %>

      </tr>
      <%
      #Solo cuando el index es igual al ultimo indice del subgrupo se agrega el sub-total
      #p '++++++++++++++++++++++++++++++++++++++++++ before_value ++++++++++++++++++++++++++++++'
       #p before_value
       #p report.methods
      if report.has_subtotal? and before_value!= nil and before_value[:index_t] == index
              %>

              <% report.column_subtotal_with_colspan(rowspan_value).each do |total_with_colspan| %>
                  <td colspan="<%= total_with_colspan[:colspan] %>" class="queryreport-td-align-right"><%= total_with_colspan[:content] %></td>

              <% end %>        
           <%
  
          #Agregamos total sólo para el valor anterior pues el siguiente ya es información de la sgte agrupación
          before_value = nil
          value = nil
      end

      %>

      <%  
      #Se recorren las columnas para obtener el valor que contiene la información del la Agrupación
      report.columns.each do |column| 
          value = record[column.humanize]
          #Si continene información de agrupacion
          if value.kind_of?(Hash) 
            before_value = value
          end
      end

     %>
  <%  idx=+1 

  #p index
   %> 
  <% end %>

  <%= render :partial => "query_report/record_footer", locals: {report: report} %>

  </tbody>
</table>
<% else %>
<div style="position: relative; display: block; text-align: center;margin: 0 auto;">

  
  <div style="width: 64px; height: 64px; text-align: center;margin: 0 auto;">
         <i class="material-icons" style=" color: #FFF; 
                                            font-size: 28px; 
                                            line-height: 64px; 
                                            background-color: #2196f3; 
                                            border-radius: 50%;
                                            width: 100%;
                                            ">mood_bad</i>
  </div>
<h3><%= t('query_report.no_record_found').upcase %></h3>

  

</div>
<% end %>